.content{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}
.title{
  text-align: center;
  margin-bottom: .5rem;
}
.img{
  flex: 1;
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  object-fit: cover;
  display: block;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.link{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  font-size: 1.5rem;
  background-color: #116feb;
  color: #fff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;


}